Repository takato1314/docker-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: git-dump, git-pull, python-builder, python-wsgi

.gitlab-ci.yml:

# created 30-may-20 by richb@instantlinux.net

stages:
  - prepare
  - git-dump
  - git-pull
  - python-builder
  - python-wsgi

image: docker:19.03.8

prepare:
  stage: prepare
  script:
  - IMAGES=$(find images -maxdepth 1 -exec basename {} \;)
  - for IMG in $IMAGES; do
      sed -e "s/{{ IMAGE }}/$IMG/" .image-gitlab-ci.yml  > .child-$IMG.yml;
    done
  artifacts:
    paths: [ .child-*.yml ]

# TODO: this is an egregious case of non-DRY code. Each could be
# reduced to 2 lines by variable interpolation -- for example, the
# artifact could be specified as .child-$CI_JOB_NAME.yml. But that is
# not possible until a 2017 feature request is eventually implemented:
# https://gitlab.com/gitlab-org/gitlab-runner/-/issues/1809

# TODO: figure out why these have to be assigned to separate stages,
# without waiting for completion (strategy: depend); putting more than
# one in a stage gives "unknown failure"

git-dump:
  stage: git-dump
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare
  only:
    changes: [ images/git-dump/**, lib/**, .image-gitlab-ci.yml ]
    refs: [ master ]

git-pull:
  stage: git-pull
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare
    # strategy: depend
  only:
    changes: [ images/git-pull/**, lib/**, .image-gitlab-ci.yml ]
    refs: [ master ]

python-builder:
  stage: python-builder
  trigger:
    include:
    - artifact: .child-python-builder.yml
      job: prepare
    # strategy: depend
  only:
    changes: [ images/python-builder/**, lib/**, .image-gitlab-ci.yml ]
    refs: [ master ]

python-wsgi:
  stage: python-wsgi
  trigger:
    include:
    - artifact: .child-python-wsgi.yml
      job: prepare
    # strategy: depend
  only:
    changes: [ images/python-wsgi/**, lib/**, .image-gitlab-ci.yml ]

SYS-483 wip
  .gitlab-ci.yml
Due: none

SYS-483 wip
  .gitlab-ci.yml
  images/data-sync/Dockerfile
  images/data-sync/hooks/add_tags
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/hooks/add_tags
  images/ez-ipupdate/Dockerfile
  images/ez-ipupdate/hooks/add_tags
  images/git-dump/Dockerfile
  images/git-pull/Dockerfile
  images/postfix/Dockerfile
  images/postfix/hooks/add_tags
  images/proftpd/Dockerfile
  images/proftpd/hooks/add_tags
  images/rsyslogd/Dockerfile
  images/rsyslogd/hooks/add_tags
Due: git-dump, git-pull

SYS-483 wip
  images/data-sync/kubernetes.yaml
  lib/build/Makefile.docker_image
Due: none

SYS-483 wip
  k8s/Makefile.versions
  lib/build/Makefile.docker_image
Due: none

SYS-483 wip
  images/data-sync/README.md
  images/dhcpd-dns-pxe/README.md
  images/ez-ipupdate/README.md
  images/git-dump/README.md
  images/git-pull/README.md
  images/postfix/README.md
  images/proftpd/README.md
  images/python-builder/README.md
  images/python-wsgi/README.md
  images/rsyslogd/README.md
  k8s/Makefile.versions
Due: git-dump, git-pull, python-builder, python-wsgi

SYS-483 wip
  .gitlab-ci.yml
  images/data-sync/README.md
  images/dhcpd-dns-pxe/README.md
  images/ez-ipupdate/README.md
  images/git-dump/README.md
  images/git-pull/README.md
  images/postfix/README.md
  images/proftpd/README.md
  images/python-builder/README.md
  images/python-wsgi/README.md
  images/rsyslogd/README.md
Due: git-dump, git-pull, python-builder, python-wsgi

SYS-483 move to gitlab and enable multi-arch
  .gitlab-ci.yml
  .image-gitlab-ci.yml
  README.md
  images/data-sync/Dockerfile
  images/data-sync/hooks/add_tags
  images/dhcpd-dns-pxe/Dockerfile
  images/dhcpd-dns-pxe/hooks/add_tags
  images/ez-ipupdate/Dockerfile
  images/ez-ipupdate/hooks/add_tags
  images/git-dump/Dockerfile
  images/git-dump/hooks/add_tags
  images/git-pull/Dockerfile
  images/git-pull/README.md
  images/git-pull/hooks/add_tags
  images/postfix/Dockerfile
  images/postfix/hooks/add_tags
  images/proftpd/Dockerfile
  images/proftpd/hooks/add_tags
  images/python-builder/hooks/add_tags
  images/python-wsgi/Dockerfile
  images/python-wsgi/hooks/add_tags
  images/rsyslogd/Dockerfile
  images/rsyslogd/hooks/add_tags
  k8s/Makefile.versions
  k8s/gitlab.yaml
  lib/build/Makefile.docker_image
Due: git-dump, git-pull, python-builder, python-wsgi

SYS-483 wip
  .gitlab-ci.yml
  images/data-sync/README.md
  images/dhcpd-dns-pxe/README.md
  images/ez-ipupdate/README.md
  images/git-dump/README.md
  images/git-pull/README.md
  images/postfix/README.md
  images/proftpd/README.md
  images/python-builder/README.md
  images/python-wsgi/README.md
  images/rsyslogd/README.md
  k8s/Makefile.versions
Due: git-dump, git-pull, python-builder, python-wsgi

SYS-483 wip
  .gitlab-ci.yml
  images/mysqldump/mysql-backup.sh
Due: none

SYS-483 wip
  lib/build/Makefile.docker_image
Due: none

SYS-483 wip
  .image-gitlab-ci.yml
Due: git-dump, git-pull, python-builder, python-wsgi

Add more configurations to the related krb files
  images/samba-dc/Dockerfile
  images/samba-dc/entrypoint.sh
  images/samba-dc/smb.conf.j2
Due: none
